build/
reports/
doc/_build
doc/_doxygen

tools/travis/ssh-key
tools/clojure/target/
tools/scala/target/
tools/scala/project/target/

extra/js/out
extra/js/boost

__pycache__

.gdb_history

.cache
tools/clojure/.lein*

*.pyc

.buckd
buck-out
.buckconfig.local
.buckconfig.d
buckaroo
buckaroo_macros.bzl
